body {
	height: 800px;
}
#flex-container {
	height: 100vh;
	display: flex;
	align-items: center;
}
#ninja {
	background: url(1.png) 0px 0px;
	height: 184px;
	width: 128px;
	position: relative;
	left: 0%;
	animation: gangster 0.4s steps(6) infinite, step 5s linear infinite;
}
@keyframes gangster {
	100% {
		background-position: -768px;
	}
}
@keyframes step {
	100% {left: 100%;}
}